
.nav1
{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
}
.sidenav {
    
    height: 100%;
    width: 178px;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-decoration: none;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
    
}
.clear
{
    clear: both;
}
a
{
    text-decoration: none;
    color: white;
}
.btn-lg
{
    width: 30%;
    height: 80px;
    color: white;
}
.button
{
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 12px; 
        font-family: 'El Messiri', sans-serif;    
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0;
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 ;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.0029); 
}
.ss a:hover {
    color: white;
    text-decoration: none;
}
.button:hover{
    box-shadow: none;
}
.b1 {
    background-color: #ADCDA8;
    padding: 25px 65px;
}

.b2 {
    background-color: #6FB3E0;
 
    padding: 25px 75px;
 }
 .sub-menu .sub-ico
{
    font-size:1vw;padding: 5%;
}
.b3 {
    background-color: #FFB751;
 
    padding: 25px 60px;
 }

.b4 {
    background-color: #D05A46;
 
    padding: 25px 70px;
 }

.b5 {
    background-color: #44738A;
 
    padding: 25px 90px;
 }

.b6 {
    background-color: #A061E0;
 
    padding: 25px 70px;
 }

.b7 {
    background-color: #FF6B06;
 
    padding: 25px 79px;
 }

.b8 {
    background-color: #f1c40f;
 
    padding: 25px 93px;
 }

.b9 {
    background-color: #63cdda;
 
    padding: 25px 75px;
 }

.b10 {
    background-color: #c44569;
 
    padding: 25px 33px;
 }

.b11 {
    background-color:#303952;
 
    padding: 25px 91px;
 }

.b12 {
    background-color: #4CAF50;
 
    padding: 25px 60px;
 }
    
.c22
{
 color: #ff9f43;
    
}
.logo
{
    
    padding-top: 2%;
    
    padding-bottom: 8%;
    margin-top: -15%;
    border-bottom: 2px rgba(0,0,0,.3) solid;
}
.c1
{
    color: black;font-size: 1.3vw;
    font-family: 'El Messiri', sans-serif;    
}
.sidenav a {
    font-family: 'El Messiri', sans-serif;
     margin-left: -5%;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.90vw;
    color: black;
    text-decoration: none;
    display: block;
    border-bottom: 2px rgba(0,0,0,.3) solid;
    padding-bottom: 9%;
    padding-top: 9%;
}
.c1:hover{
           
}
.sidenav a:hover {
    color: #ff9f43;
    text-decoration: none;
}
.p1
{
    color: black;
    
}
.sub-menu
{
    margin-left: -35px;
    position: relative;
}

.main {
     /* Same as the width of the sidenav */
     /* Increased text to enable scrolling */
    position: relative;
    left: 9%;
    overflow: hidden;
    padding: 0px 10px;
        
}
.wrapper
{
    
 /* Same as the width of the sidenav */
     /* Increased text to enable scrolling */
    position: relative;
    overflow: hidden;

    
}
.list>a:hover {

    color: #ff9f43;
   box-shadow:1px 1px 10px 1px  ;
    
    

}
.list>a:hover .p1
{
     color: #ff9f43;
}
